/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

@font-face {
  font-family: "sOuTh Afirkas 2100";
  src: url("./assets/south\ afirkas\ 2100.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-size: 72px;
  font-weight: 400;
  line-height: 82.79px;
  text-align: left;
  font-family: "sOuTh Afirkas 2100", Arial, sans-serif;
}

p {
  font-family: Arial;
  font-size: 24px;
  font-weight: 400;
  line-height: 27.6px;
  text-align: left;
}

/* Base styles */
body {
  line-height: 82.79px;
  color: #faf7f7;
  font-family: "sOuTh Afirkas 2100", Arial, sans-serif;
  overflow-x: hidden;
}

/* main{
    padding: 0 70px;
} */

.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
  background-color: black;
}

.keke {
  font-family: "sOuTh Afirkas 2100", Arial, sans-serif;
}

.nav_list {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}

.nav-btn {
  padding: 16px;
  background-color: #cb8806;
  color: white;
  border-radius: 8px;
}
.nav_item a {
  color: #fff;
}

.btn {
  width: 200px;
  padding: 20px;
  border-radius: 8px;
  background-color: #cb8806;
  color: #f4f4f4;
  font-family: "sOuTh Afirkas 2100", Arial, sans-serif;
}

.home {
  background-size: cover;
  padding: 0 70px;
  height: 78vh;
  background-color: black;
  margin-bottom: 90px;
}

.hero_img {
  position: relative;
  width: 100%;
  max-width: 700px;
  position: relative;
  left: 10%; /* Push the image out of the normal margin */
}

.home_title {
  padding-right: 80px;
  margin-bottom: 20px;
}
.home_subtext {
  padding-right: 100px;
  margin-bottom: 60px;
}

.home_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.keke_section {
  padding: 0 70px;
  margin-bottom: 200px;
  color: black;
}

.keke_title {
  padding-right: 800px;
  margin-bottom: 60px;
}

.keke_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*===================================================== Step Section=================================================================*/
.step_section {
  padding: 0 70px;
  color: black;
}

.step_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 120px;
}
.step_content {
  border-radius: 8px;
  padding: 40px 70px;
  background-color: black;
  color: #f4f4f4;
}

.step_p {
  font-size: 22px;
  font-weight: 400;
}

.step_img {
  width: 100%;
  position: relative;
  max-width: 900px;
  position: relative;
  left: 10%; /* Push the image out of the normal margin */
}

/*===================================================== FOOTER =================================================================*/
.footer_section {
  background-color: black;
}

.footer {
  color: #fff;
  background-color: black;
  padding: 30px 70px;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.246);
}

.footer_bottom p {
  font-family: "sOuTh Afirkas 2100", Arial, sans-serif;
  text-align: center;
  padding-bottom: 30px;
  font-size: 18px;
  color: #f4f4f4;
}

/* Base styles */
.nav_item {
  position: relative; /* Position the dropdown relative to its parent */
}

.language-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #f2e8e8;
  cursor: pointer;
  gap: 10px;
}

/* Dropdown styles */
.dropdown {
  position: absolute;
  top: 100%; /* Position just below the language selector */
  left: 0;
  background-color: rgb(21, 20, 20);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 5px 10px;
  margin: 0;
  z-index: 10;
  border-radius: 5px;
}

.dropdown-link {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s;
}

.dropdown-link:hover {
  background-color: #484646;
}

/* Arrow rotation when dropdown is visible */
.nav_item.show .arrow-icon {
  transform: rotate(-135deg); /* Rotate the arrow up */
}

.download {
  padding: 90px 70px;
}

.download_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  border-radius: 8px;
  padding: 0 100px;
  padding-top: 80px;
}

.download_btn {
  display: flex;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 25px;
    line-height: 32.79px;
  }

  p {
    font-size: 14px;
  }
  .nav_container {
    display: none;
  }

  .keke_container {
    flex-direction: column;
  }

  .step_container {
    flex-direction: column-reverse;
  }

 
  .footer_content {
    flex-direction: column;
  }
  .download_btn {
    flex-direction: column;
  }

  .home {
    padding: 0 16px;
    height: 60vh;
    display: none;
  }


  .hero_img {
    left: 10%; /* Push the image out of the normal margin */
  }

  .home_title {
    padding-right: 3px;
    margin-bottom: 10px;
  }
  .home_subtext {
    padding-right: 3px;
    margin-bottom: 10px;
  }

  .keke_section {
    padding: 0 16px;
    margin-bottom: 20px;
  }

  .keke_title {
    padding-right: 20px;
    margin-bottom: 10px;
  }


  /*===================================================== Step Section=================================================================*/
  .step_section {
    padding: 0 16px;
  }


  .step_content {
    padding: 20px 50px;
  }


  h3{
    font-size: 14px;
    line-height: 3.5;
  }


  .step_p {
    font-size: 14px;
  }

  .step_img {
    left: 10%; /* Push the image out of the normal margin */
  }


  .footer {
    color: #fff;
    background-color: black;
    padding: 20px 16px;
  }

  

  .download {
    padding: 10px 16px;
  }

  .download_section {
    display: flex;
    align-items: center;
    padding: 0 16px;
    padding-top: 10px;
  }

  .download_img{
    width: 80%;
  }

  .btn{
    font-size: 14px;
  }

}
